header {
    height: 80px;
}

// Home
.home {
    max-width: 700px;
    padding: 20px;
    margin: 0 auto;
}

.media-icons {
    align-items: center;
    margin-bottom: 1rem;

    .bi {
        font-size: 1.3rem;
    }

    .bi-envelope-fill {
        margin-left: 3px;
    }
}

